
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("weather.jpg");
    background-position: center;
    background-size: cover;
}
.converter{
  width: 350px;
  height: fit-content;
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  padding-bottom: 15px;
  margin-top: 100px;
  background-color: rgb(231, 231, 243);
  font-weight: 600;
}
